a {
  background-color: red;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
a:hover {
  color: #0a58ca;
}

.bgwhite {
  background-color: white;
}

input {
  border: 1px solid black;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottomBtn {
  padding: 10px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bdr {
  border: 1px solid #cecece;
}

.bdr-bottom {
  border-bottom: 1px solid #cecece;
}

.bdr-radius {
  border-radius: 7px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.w100 {
  width: 100%;
}

.p-10 {
  padding: 10px;
}

.p20 {
  padding: 0 20px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gg10 {
  grid-gap: 10px;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.df {
  display: flex;
}

.mh40 {
  min-height: 40px;
  min-width: 40px;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 3fr 8fr 4fr;
  grid-gap: 20px;
  box-sizing: border-box;
}
body .source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}
body > * {
  background-color: white;
}

.search form {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.search form input {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  transition: opacity 0.1s;
  width: 100%;
}
.search form input::-moz-placeholder {
  color: white;
}
.search form input:-ms-input-placeholder {
  color: white;
}
.search form input::placeholder {
  color: white;
}
.search form input:focus {
  opacity: 0.85;
}
.search form button {
  position: absolute;
  right: 0;
}
.search input,
.search button {
  color: white;
  background: transparent;
  box-sizing: inherit;
  padding: 10px 15px;
  border: none;
  outline: none;
  height: 100%;
  display: block;
}

header {
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 0;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  grid-column-start: 1;
  grid-column-end: 4;
  z-index: 10;
  background-color: white;
  height: 65px;
  display: grid;
  grid-template-columns: 4fr 4fr 7fr 7fr;
  grid-template-rows: 45px;
  grid-gap: 20px;
}
header #logo {
  font-size: 20px;
}
header #logo a {
  height: 100%;
  display: flex;
  align-items: center;
}
header #logo img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  height: 100%;
  overflow: hidden;
  margin-left: auto;
}
header nav ul {
  height: 100%;
  display: flex;
}
header nav ul li a {
  height: 100%;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  display: block;
  font-size: 23px;
}
header nav ul li a:hover {
  background-color: #f4f4f4;
}
section#leftsection {
  margin-left: 20px;
}
section#leftsection ul li a {
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px 0;
}
section#leftsection ul li a:first-child {
  margin-top: 0;
}
section#leftsection ul li a:hover {
  background: linear-gradient(45deg, white, white, gold, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
}

.gradient-btn {
  background: linear-gradient(-120deg, #e0c3fc 0%, #8ec5fc 100%);
  width: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  height: 35px;
  color: white;
  margin-right: 10px;
  font-size: 18px;
}

.avatar {
  margin-right: 10px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: block;
}
.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ava-container {
  text-align: center;
}
.ava-container .avatar {
  margin: 0 auto;
}

.content-row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.content-row-header .content-author {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}
.content-row-header .content-author .author-name {
  display: block;
}
.content-row-header .content-author .other-info {
  display: inline-block;
  font-size: 0.7em;
  color: #cecece;
}
.content-row-header .follow {
  background-color: #00ff84ff;
  border: none;
  padding: 0 10px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 3px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 10px;
  font-weight: bold;
}
.content-row-header .follow .fa-plus {
  font-size: 13px;
  padding-right: 5px;
}
.content-row-header .follow:hover {
  background-color: #00fa81;
}

main:not(.profile-cont) {
  max-width: 52vw;
}

main {
  box-shadow: none;
  padding: 0;
}
main a:not(.link-cont):hover {
  text-decoration: underline;
}
main .content-row .content-row-content {
  margin-bottom: 10px;
}
main .content-row .content-row-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content-row .content-row-content p a {
  color: #258aff;
}
main .content-row .content-row-bottom {
  position: relative;
  display: flex;
  align-items: center;
}
main .content-row .content-row-bottom button {
  font-size: 20px;
  background-color: #e8e8e8;
  color: #a4a4a4;
  width: 40px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 40px;
  margin: 3px;
}
main .content-row .content-row-bottom button:hover {
  background-color: #dbdbdb;
}
main .content-row .content-row-bottom .fa-eye {
  color: #b5b5b5;
  position: absolute;
  right: 0;
}
main .content-row .content-row-comments {
  padding-top: 7px;
  margin-top: 15px;
  border-top: 1px solid #cecece;
}
main .content-row .content-row-comments .content-row {
  border-bottom: 1px solid #cecece;
}
main .content-row .content-row-comments .content-row.last-child, main .content-row .content-row-comments .content-row.add-comment {
  border: none;
}
main .content-row .content-row-comments .content-row .subcomments .content-row {
  margin: 0 0 0 40px;
}
main .content-row .content-row-comments .content-row-header .avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
}
main .content-row .content-row-comments .content-row-header .content-author {
  font-size: 0.9rem;
}
main .content-row .content-row-comments .content-row-content {
  font-size: 0.9em;
}
main .content-row .content-row-comments .content-row-content img {
  display: none;
}
main .content-row .content-row-comments .content-row-bottom a {
  font-size: 17px;
  width: 35px;
}
main .content-row .content-row-comments .add-comment {
  border-top: 1px solid #cecece;
}
main .content-row .content-row-comments .add-comment .avatar {
  width: 40px;
}
main .content-row .content-row-comments .add-comment form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
main .bgradient {
  transition: background-position 0.5s;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-size: 200% auto;
}
main .bgradient:hover {
  background-position: right center;
}
main .moreActionsBtn {
  text-align: right;
  color: #e8e8e8;
  cursor: pointer;
}
main .moreActionsBtn .action-btns {
  display: flex;
}
main .moreActionsBtn .action-btns .moreBtn {
  font-size: 23px;
  padding: 0 7px 0 0;
  color: #b5b5b5;
}
main .moreActionsBtn .fa-flickr {
  cursor: pointer;
  width: 100%;
}
main .moreActions {
  border-radius: 6px;
  transition: margin-top 0.2s;
  padding: 10px 0 0 0;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  right: 0;
}
main .moreActions .btns {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}
main .moreActions .btns a,
main .moreActions .btns button {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}
main .moreActions .btns a:hover,
main .moreActions .btns button:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
main > .content-row {
  padding: 20px 20px;
  margin: 0 0 40px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input.input_with_button {
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-right: none;
}

html body .input_with_button {
  border-color: #00dbde;
}

button.input_with_button {
  border-radius: 0 5px 5px 0;
}

section#rightsection {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 0;
  margin-right: 20px;
}
section#rightsection h3 {
  margin: 10px 15px 15px 10px;
}

.link-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.link-cont:hover {
  background-color: #e8e8e8;
}

.online .avatar {
  position: relative;
}
.online .avatar:after {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 2;
  right: 4.3%;
  bottom: 4.3%;
  background-color: lawngreen;
  border-radius: 50%;
  border: 3px solid white;
}

#search form {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-radius: 0;
  align-items: center;
}
#search form input {
  padding: 15px;
  opacity: 0.7;
}
#search form input:focus {
  opacity: 1;
}

.other-head .content-row-header {
  border-bottom: 1px solid #cecece;
}
.other-head .content-row-header a button.write {
  width: 40%;
  border-radius: 8px;
}
.other-head .moreActionsBtn:hover .fa-flickr {
  color: #828282;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
section#leftsection,
section#rightsection {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  max-height: 75vh;
  min-height: 75vh;
}

footer {
  position: absolute;
  bottom: 10px;
  padding: 10px;
}
footer a {
  color: #0884ff;
  font-size: 11px;
  text-decoration: underline;
}
footer a:last-child {
  display: block;
  margin-top: 5px;
}

html body .toggle-menu a {
  padding: 15px;
  transition: border-color 0.1s;
}
html body .toggle-menu a:hover {
  text-decoration: none;
}

.toggle-menu-header-horizontal {
  display: flex;
  align-items: center;
}
.toggle-menu-header-horizontal a {
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.toggle-menu-header-horizontal a:hover {
  border-bottom: 2px solid #f4f4f4;
}
.toggle-menu-header-horizontal .router-link-active.router-link-exact-active {
  border-bottom: 2px solid #00ff84ff;
}

.toggle-menu-header-vertical a {
  display: block;
  border-left: 2px solid transparent;
}
.toggle-menu-header-vertical a:hover {
  border-left: 2px solid #f4f4f4;
}
.toggle-menu-header-vertical .router-link-active.router-link-exact-active {
  border-left: 2px solid #00ff84ff;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
